<div class="comment-card">
  <div class="row-1">
    <p class="tribute-message">
      <i
        >"<span
          >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          maiores ut est nulla dolorum, voluptatem aperiam, accusamus veniam
          odit id molestiae et nesciunt. Voluptas consectetur quaerat cupiditate
          reiciendis assumenda provident!</span
        >"</i
      >
    </p>
  </div>
  <div class="row-2">
    <h3 class="tribute-name">Name of the person</h3>
  </div>
  <div class="row-3 action-buttons">
    <button class="btn-action">
        <img src="/shared/assets/icons/accept.svg" class="accept-btn action-button" width="40" alt="accept icon">
    </button>
    <button class="btn-action">
        <img src="/shared/assets/icons/trash.svg" class="delete-btn action-button" width="40" alt="accept icon">
    </button>
  </div>
  <div class="bubble-arrow"></div>
</div>
