<nav>
  <div class="logo-container">
    <div class="logo"></div>
    <h1 class="logo">Recuerda</h1>
  </div>

  <button id="menu-toggle">Menu</button>

  <div class="nav-links">
    <a href="index.html">Inicio</a>
    <a href="dashboard.html">Painel</a>
    <a href="memorials.html">Memoriais</a>
  </div>

  <div class="nav-actions">
    <a href="create.html" class="btn btn-var2" id="primary-action">
      Eternizar Agora
    </a>

    <button id="account-button" class="account-btn">
      Conta
    </button>
  </div>
</nav>
