<div class="mem-card">
  <div class="row-1">
    <div class="column-1">
      <img
        src="https://picsum.photos/300/300"
        alt="Profile Picture"
        class="mem-card-profile"
      />
    </div>
    <div class="column-2">
      <h3 class="mem-card-name">Name of the Person</h3>
      <p class="mem-card-dates">1950 - 2024</p>
      <p class="mem-card-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam
        corporis natus, explicabo officia corrupti voluptas minus totam ad
        quibusdam nisi placeat vitae quia, obcaecati, nesciunt nostrum
        reprehenderit repudiandae error non.
      </p>
    </div>
  </div>

  <div class="row-2 actionsContainer">
    <button class="btn btn-var1 open">📖 Abrir</button>
    <button class="btn btn-var2 edit">✏️ Editar</button>
    <button class="btn delete">🗑️ Excluir</button>
  </div>
</div>
