<nav class="navbar">
  <!-- Left (logo desktop) -->
  <div class="navbar-left">
    <div class="logo-container">
      <div class="logo">
        <img class="logo-image" src="/assets/logo2.png" alt="">
      </div>
      <h1 class="logo-text">Recuerda</h1>
    </div>
  </div>

  <!-- Center links -->
  <div class="navbar-center nav-links">
    <a href="/features/home/home.html" data-link class="nav-home">Início</a>
    <a href="/features/memorial/feed/memorial-feed.html" data-link class="nav-search">Buscar</a>
    <a href="/features/dashboard/dashboard.html" data-link class="nav-dashboard">Painel</a>
  </div>
  
  <!-- Right -->
  <div class="navbar-right nav-actions">
    <a href="/features/memorial/creation/create.html" data-link class="primary-action btn btn-var2">
      Criar
    </a>
    <button id="account-button" class="account-btn btn btn-var2">
      Login
    </button>
  </div>
</nav>